@import url(../popup/__bg/popup__bg.css);
@import url(../popup/__close/popup__close.css);
@import url(../popup/__container/popup__container.css);
.popup {
    display: none;
    /*position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
}