.popup__input {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    line-height: 16.94px;
    width: 358px;
    height: 27.26px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    margin: 0 auto 29.74px;
}

.popup__input:last-child {
    margin: 0px;
}

@media screen and (max-width: 568px) {
    .popup__input {
        width: 238px;
        height: 14px;
    }
}