@import url(../add/__bg/add__bg.css);
@import url(../add/__close/add__close.css);
.add {
    display: none;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}