.profile__title {
    font-family: 'Inter', Arial, sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0px;
    max-width: 380px;
}

@media screen and (max-width: 568px) {
    .profile__title {
        font-size: 22px;
        line-height: 26.63px;
        max-width: 196;
    }
}