.profile__text {
    display: flex;
    flex-direction: row;
    max-width: 973px;
    align-items: center;
}

@media screen and (max-width: 568px) {
    .profile__text {
        max-width: 224px;
    }
}