.element__button_active {
    background: url(../../../../images/filledblackheart.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 19px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: opacity 0.4s ease-in;
    padding: 0;
}