.element__image {
    height: 282px;
    width: 282px;
    align-self: flex-start;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    cursor: pointer;
    border: none;
}