.form__title {
    font-family: 'Inter', Arial, sans-serif;
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    width: 330px;
    margin: 34px 64px 54px 36px;
}

@media screen and (max-width: 568px) {
    .form__title {
        margin: 25px 22px 75px 22px;
        width: 238px;
    }
}