.element__button {
    background: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 19px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: opacity 0.4s ease-in;
}

.element__button:hover {
    opacity: 0.8;
}