@import url(./_active/element__button_active.css);
.element__button {
    background: url(../../../images/heart.svg);
    background-repeat: no-repeat;
    width: 21px;
    height: 19px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: opacity 0.4s ease-in;
    padding: 0;
}

.element__button:hover {
    opacity: 0.5;
}

.element__button:active {
    background-image: url(../../../images/filledblackheart.svg);
}