@import url(/blocks/popup__container/__about/popup__container__about.css);
@import url(/blocks/popup__container/__close-button/popup__container__close-button.css);
@import url(/blocks/popup__container/__name/popup__container__name.css);
@import url(/blocks/popup__container/__save/popup__container__save.css);
@import url(/blocks/popup__container/__title/popup__container__title.css);
@import url(/blocks/popup__container/__bg/popup__container__bg.css);
.popup__container {
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}