.element__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 17px;
    margin: 0 auto 0;
    padding-left: 0px;
    max-width: 880px;
}

@media screen and (max-width: 568px) {
    .element__container {
        grid-template-columns: 1fr;
        max-width: 282px;
    }
}